@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url(HelveticaMonospacedW1G-Rg.woff) format(woff),
    url(HelveticaMonospacedW1G-Rg.woff2) format(woff2);
    font-weight: normal;
}