body {
 font-family: 'Monospace';
 font-size: 40px;
 line-height: 120%;
 margin-left: 40px; 
}
img {
    margin-top: 40px;
    margin-left: 800px; 
}

nav {
    position:fixed;
    top: 40;
    left: 40;
    margin-top: 40px;
    vertical-align: 20%;
}
nav ul ul li {
    margin-left: 40px;
}
h1 {
    font-size: 80px;
    vertical-align: 20%;
}
h2 {
    font-size: 80px;
    
}