body {
 font-family: 'Helvetica';
 font-size: 40px;
 line-height: 120%; 
}
img {
    margin-top: 200px;
    margin-left: 400px;
}

nav {
    position:fixed;
    top:40;
    left:40;
    margin-top: 20px;
}
nav ul ul li {
    margin-left: 20px;
}