body {
 font-family: 'Helvetica';
 font-size: 40px;
 line-height: 120%;
 margin-left: 40px; 
}
img {
    margin-top: 40px;
    margin-left: 800px; 
}

nav {
    position:fixed;
    top: 40;
    left: 40;
    margin-top: 40px;
}
nav ul ul li {
    margin-left: 40px;
}
h1 {
    font-size: 20px;
    margin: 1.6em 20px;  
}
h2 {
    font-size: 20px;
    margin: 10px 3% 1em;  
}